<?xml version="1.0"?>
<!--XML-->
<launch>

     <param name="robot_description" command="$(find xacro)/xacro '$(find deimos)/urdf/standalone.urdf.xacro'" />

     <arg name="gui" default="False" />
     <arg name="use_tf_static" default="false"/> 
     <param name="use_gui" value="$(arg gui)"/>

     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
     
     <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
	    <param name="use_tf_static" value="$(arg use_tf_static)"/>
     </node>
     
     <group ns="stereo">
        <node pkg="deimos" type="deimos_node" name="deimos" output="screen" required="true">
            <param name="width" type="int" value="752" />
            <param name="height" type="int" value="480" />
            <param name="fps" type="int" value="60" />
            <param name="device" type="string" value="/dev/video0" />
            <param name="exposureValue" type="int" value="1" />
            <param name="cameraLeft_info_url" type="string" value="file://${ROS_HOME}/camera_info/left.yaml" />
            <param name="cameraRight_info_url" type="string" value="file://${ROS_HOME}/camera_info/right.yaml" />
        </node>

        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
	    <!-- BM, for some reason SGBM fails -->
	        <param name="stereo_algorithm" value="0" />
	        <param name="min_disparity" value="0" />
	        <param name="disparity_range" value="256" />
            <param name="correlation_window_size" value="8" />
	    </node>

    </group>

    <node pkg="halcon_match" type="matcher" name="halcon_matcher" output="screen" >
            <param name="reference_model" value="$(find halcon_match)halconmatcher/test/reference_model.stl" />
            <remap from="/halcon_matcher/points2" to="/stereo/points2" />
    </node>

</launch>