<?xml version="1.0"?>
<!--XML-->
<launch>

     <!-- SETUP ARGUMENTS -->
    <!-- enable/disable running rviz in launcher -->
    <arg name="rviz" default="true" />
    <arg name="titania_ns" default="i3dr_titania" />

    <node pkg="i3dr_halcon_surface_matcher" type="match_surface" name="i3dr_surface_match" output="screen" >
        <param name="reference_model" value="$(find i3dr_halcon_surface_matcher)/test/aluminium_tube.stl" />
        <remap from="/points2" to="$(arg titania_ns)/points2" />
        <param name="mesh_resource" value="$(find i3dr_halcon_surface_matcher)/test/aluminium_tube.dae" />
        <param name="confidence_threshold" value="0.2" />
        <param name="object_key" value="serfow_cylinder" />
    </node>

    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
        args="-d $(find i3dr_halcon_surface_matcher)/rviz/titania.rviz"/>

</launch>